.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.1);
  background-color: #EDF5E1;
  padding: 0 20px 0 25px;
  height: 70px;

  .left {
    h1 {
      font-family: 'Frank Ruhl Libre', serif;
      font-size: 36px;
      font-weight: 900;
      letter-spacing: 3px;

    }
  }

  .right ul {
    display: flex;
    justify-content: space-between;

    li {
      padding: 5px;
      margin-left: 10px;

    }
  }
}
